[Unit]
Description=Log Processor for Print Server
After=network.target cups.service

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /home/sistemas/print-track/procesar_logs.py
WorkingDirectory=/home/sistemas/print-track
User=root
Group=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
