[Unit]
Description=Log Processor for Print Server
After=network.target cups.service

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /home/cupsadmin/print-track/procesar_logs.py
WorkingDirectory=/home/cupsadmin/print-track
User=cupsadmin
Group=cupsadmin
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
